* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* i {
    min-width: 16px;
    cursor: pointer;
} */
svg {
    cursor: pointer;
}

svg > * {
    fill: var(--secondary-color);
}

svg:hover path {
    fill: var(--third-color);
}

:root {
    --font-principal:  'Poppins', sans-serif;
    --font-secondaria:  'Open Sans', sans-serif;
    --secondary-color: #e4d298;
    --primary-color: #000;
    --third-color: #fff;
    --card-bg: #5c5b5b18;
    --dress-action: rgba(0, 0, 0, 0.507);
    --dress-bg-col: rgba(129, 129, 129, 0.11);
}

.wrapper {
    position: relative;
}

.nav-container {
    width: 100vw;
    height: 60px;
    padding: 0 20px;
    color: var(--second-color);
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    position: sticky!important;
    top: 0;
    z-index: 1000;
}

.nav-container > * {
    text-align: center;
}

.hamburger {
    cursor: pointer;
}

.nav-link-box {
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateX(-80vw);
    width: 80vw;
    height: auto;
    padding-top: 10px;
    z-index: 99;
    background-color: var(--primary-color);
    transition: transform 500ms ease-in-out;
}

.open-nav {
    transform: translateX(0);
}

.nav-link-box > li {
    padding: 0;
    color: var(--secondary-color);
    list-style: none;
    line-height: 3rem;
    transform: translateX(-300px);
}

.nav-link-out {
    animation: slide-out 300ms ease-in-out forwards;
}

.nav-link-in {
    animation: slide-in 300ms 100ms ease-in-out forwards;
}

.nav-link-in:nth-child(2) {
    animation: slide-in 400ms 100ms ease-in-out forwards;
}
.nav-link-in:nth-child(3) {
    animation: slide-in 500ms 100ms ease-in-out forwards;
}
.nav-link-in:nth-child(4) {
    animation: slide-in 600ms 100ms ease-in-out forwards;
}
.nav-link-in:nth-child(5) {
    animation: slide-in 700ms 100ms ease-in-out forwards;
}
.nav-link-in:nth-child(6) {
    animation: slide-in 800ms 100ms ease-in-out forwards;
}
.nav-link-in:nth-child(7) {
    animation: slide-in 900ms 100ms ease-in-out forwards;
}

@keyframes slide-in{
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-300px);
    }
}

.nav-a-link, .nav-a-link {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: 700;
    font-family: var(--font-principal);
    border-bottom: 2px solid var(--secondary-color);
}

.nav-a-link:hover, .nav-a-link:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
}

.sublinks {
    /* display: none; */
    height: 0;
    overflow: hidden;
    background-color: var(--card-bg);
    transition: 0.5ms;
}

.open-sublinks {
    height: fit-content;
}

.nav-sub-link > a {
    font-weight:200 ;
    padding: 5px;
}

.nav-menu-settings {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position: sticky; */
    /* bottom: 0; */
}

.nav-menu-settings > img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-menu-settings > svg:hover path {
    fill: var(--third-color);
}

.logo {
    width: 35%;
    max-width: 100px;
    margin: auto;
    margin-top: 10px;
}

.nav-link-cont {
    color: var(--secondary-color);
    display: flex;
    column-gap: 20px;
}

.nav-right {
    justify-content: flex-end;
} 

.nav-right > a {
    color: var(--secondary-color);
}

.nav-left {
    justify-content: flex-start;
}

/* Features products section */


.section-title {
    font-family: var(--font-principal);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    text-align: center;
}

.featured-products {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
}

.featured-products > div {
    width: 100%;
}

.card-prod {
    background: var(--card-bg);
    border-radius: 10px;
    overflow: hidden;
}

.card-img-cont {
    width: 100%;
    position: relative;
    transition: transform 500ms ease-in-out;
    overflow: hidden;
}

.card-img-cont > img {
    width: 100%;
    transition: transform 500ms ease-in-out;
}

.card-img-cont > img[data-scroll="in"] {
    transform: scale(1.3);
}

.card-img-cont > .btn-card-cont {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 50%);
    display: flex;
    column-gap: 20px;
}

.btn-card-cont[data-scroll="in"] {
    animation: link-up 500ms 300ms ease-in-out forwards;
}

@keyframes link-up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -80%);
    }
    
}

.btn-card-cont > svg {
    background-color: var(--dress-action);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.btn-card-cont > svg:hover {
    background-color: var(--primary-color);
}

.card-body {
    padding: 10px 20px;
}

.card-body > * {
    margin-top: 5px;
    
}

.card-title {
    font-family: var(--font-principal);
}

.card-price {
    font-family: var(--font-principal);
}

/* self introduction section  */

.self-introduction {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    color: var(--third-color);
}

.self-introduction > img {
    width: 70%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.self-introduction > * {
    font-family: var(--font-principal);
    text-align: center;
}

.self-name {
    color: var(--secondary-color);
}

.self-introduction > a {
    font-weight: 700;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    /* font-family: var(--font-principal); */
    background-color: var(--third-color);
    border: none;
    color: var(--primary-color);
    padding: 10px 20px;
    width: fit-content;
}

.self-introduction > a:hover {
    background-color: var(--secondary-color);
}

.a-link-box {
    display: flex;
    justify-content: center;
    /* padding-right: 20px; */
}

/* all link box styles */

.a-link {
    display: inline-block;
    min-width: 170px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    padding: 5px 15px;
    /* border-radius: 5px; */
    margin-top: 20px;
}

.a-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

/* newsletter suscription */

.news-suscript {
    width: 100%;
    padding: 10px 20px;
}

.news-suscript > form > h3 {
    font: var(--font-principal);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.news-suscript > form > input {
    width: calc(100% - 20px);
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 0;
    border: 1px solid var(--primary-color);
    font: var(--font-principal);
}

.my-btn {
    font-weight: 500;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 0;
    font-family: var(--font-principal);
    padding: 10px 20px;
    width: fit-content;
}

.news-suscript > form > button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* social medias links */

.social-media {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.social-media-links {
    width: 100%;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
}

.social-media-links > svg {
    width: 40px;
    margin: auto;
    /* color: var(--secondary-color); */
}

.social-media-links > svg:hover {
    transform: scale(1.2);
}

.social-media > .social-media-links > svg:hover * {
    fill: var(--primary-color);
}


/* footer section */

footer {
    background-color: var(--primary-color);
    color: var(--third-color);
}

footer > div {
    display: flex;
    flex-direction: row;
}

footer > div > ul {
    padding: 20px 40px;
}

footer > div > ul > li {
    list-style: none;
}

footer > div > ul > li > a {
    color: var(--third-color);
    line-height: 3rem;
    text-decoration: none;
    font-family: var(--font-principal);
}

footer > div > ul > li > a:hover {
    color: var(--secondary-color);
}

footer > h6 {
    text-align: center;
}
